clear_votes
sv_server_type Moderate
add_vote "☐ NOVICE maps" "exec votes/novice.cfg"
add_vote "☒ MODERATE maps" "exec votes/moderate.cfg"
add_vote "☐ INSANE maps" "exec votes/insane.cfg"
add_vote "☐ BRUTAL maps" "exec votes/brutal.cfg"
add_vote "☐ Dummy maps" "exec votes/dummy.cfg"
#add_vote "☐ DDMax maps" "exec votes/ddmax.cfg"
add_vote " " say "'' is no vote option"
add_vote "-== Change Map ==-" say "You can vote a new map!"
add_vote "-== DO NOT CHANGE MAP ==-" "exec votes/change.cfg"
add_vote "  " say "'' is no vote option"

add_vote " " say "'' is no vote option"
add_vote "-== Random map ==-" "random_map"
add_vote "-== Random unfinished map by vote caller ==-" "random_unfinished_map"
add_vote "   " say "'' is no vote option"

add_vote "Afternoon by Hindu | ★★★★✰ | " "change_map \"Afternoon\""
add_vote "Baby Aim 1.0 by Aoe | ★★★★✰ | " "change_map \"Baby Aim 1.0\""
add_vote "Castle Mario by StorмPʜöɴix | ★★★★✰ | " "change_map \"Castle Mario\""
add_vote "Climax by Knight :3 | ★★★★★ | " "change_map \"Climax\""
add_vote "Cup of Tee by Fňokurka oo7 | ★✰✰✰✰ | " "change_map \"Cup of Tee\""
add_vote "DayDrive by BlaGK | ★✰✰✰✰ | " "change_map \"DayDrive\""
add_vote "Dizzy by Oblique & jao | ★✰✰✰✰ | " "change_map \"Dizzy\""
add_vote "Earthborn by BlaGK | ★★★✰✰ | " "change_map \"Earthborn\""
add_vote "Everlast by BlaGK | ★★★★✰ | " "change_map \"Everlast\""
add_vote "Fall & Rise by Meliodafu | ★★★★★ | " "change_map \"Fall & Rise\""
add_vote "Forgotten Lands by Bixes | ★★★★★ | " "change_map \"Forgotten Lands\""
add_vote "Hookthrough by [A] Awesome & ٭ıƞdex'<3 | ★✰✰✰✰ | " "change_map \"Hookthrough\""
add_vote "Hookthrough 2 by [A] Awesome | ★★★✰✰ | " "change_map \"Hookthrough 2\""
add_vote "HookThrough3 by [A] Awesome | ★★★✰✰ | " "change_map \"HookThrough3\""
add_vote "Imposand by RavenXXX | ★★★★✰ | " "change_map \"Imposand\""
add_vote "Intothenight by Pipou | ★★★★★ | " "change_map \"Intothenight\""
add_vote "Justix by gherode | ★★✰✰✰ | " "change_map \"Justix\""
add_vote "Jvice by Vasten100 | ★★✰✰✰ | " "change_map \"Jvice\""
add_vote "Kalimba by Vasten100 | ★★★✰✰ | " "change_map \"Kalimba\""
add_vote "Limitless by panik | ★★★★★ | " "change_map \"Limitless\""
add_vote "Magnitude by Greeen | ★★★✰✰ | " "change_map \"Magnitude\""
add_vote "Mirage by Juandissimo | ★✰✰✰✰ | " "change_map \"Mirage\""
add_vote "MonkeyDream by Gridwyn | ★✰✰✰✰ | " "change_map \"MonkeyDream\""
add_vote "MonkeyDream 2 by Gridwyn | ★★✰✰✰ | " "change_map \"MonkeyDream 2\""
add_vote "Monster by Fňokurka oo7 | ★★★★✰ | " "change_map \"Monster\""
add_vote "MysteryCompound by BlaGK | ★★★★★ | " "change_map \"MysteryCompound\""
add_vote "Neverwhere by Bixes & Themix | ★★★★★ | " "change_map \"Neverwhere\""
add_vote "Noo! by TyxpekCZ | ★★✰✰✰ | " "change_map \"Noo!\""
add_vote "Noovice! by TyxpekCZ | ★✰✰✰✰ | " "change_map \"Noovice!\""
add_vote "Outbreak by Meliodafu | ★✰✰✰✰ | " "change_map \"Outbreak\""
add_vote "Pharice by tobu. & hi_leute_gll | ★★✰✰✰ | " "change_map \"Pharice\""
add_vote "Planet Jupiter by Aoe | ★✰✰✰✰ | " "change_map \"Planet Jupiter\""
add_vote "PurpleHeaven by Aras & [A] Awesome | ★★★★★ | " "change_map \"PurpleHeaven\""
add_vote "Red Avenue by Bixes | ★★★★✰ | " "change_map \"Red Avenue\""
add_vote "Sandland by Themix | ★★✰✰✰ | " "change_map \"Sandland\""
add_vote "Slime by TyxpekCZ | ★✰✰✰✰ | " "change_map \"Slime\""
add_vote "Sundara by »Slayer. | ★★★★★ | " "change_map \"Sundara\""
add_vote "Sunny Land by Themix | ★★✰✰✰ | " "change_map \"Sunny Land\""
add_vote "Sunreal by Themix | ★★★✰✰ | " "change_map \"Sunreal\""
add_vote "The Trip by Hindu | ★★★✰✰ | " "change_map \"The Trip\""
add_vote "Tricktee by Welf | ★★★★★ | " "change_map \"Tricktee\""
add_vote "Tropica by jao & Shishigami | ★★✰✰✰ | " "change_map \"Tropica\""
add_vote "Wonderland by panik | ★★★★★ | " "change_map \"Wonderland\""
add_vote "Spooky by Ama | ★★★✰✰ | " "change_map \"Spooky\""
add_vote "Xabier by Waschlappen & Broken | ★★★✰✰ | " "change_map \"Xabier\""
add_vote "3Play by Ama & Hitomi | ★★★★✰ | " "change_map \"3Play\""
add_vote "Cleopatra by fikmesån | ★★★★✰ | " "change_map \"Cleopatra\""
add_vote "LazeAround by Suppe | ★★★★★ | " "change_map \"LazeAround\""
add_vote "LazeAround2 by Suppe | ★★★✰✰ | " "change_map \"LazeAround2\""
add_vote "Weapons by Juandissimo & timakro | ★✰✰✰✰ | " "change_map \"Weapons\""
add_vote "High Five by Zerodin | ★★✰✰✰ | " "change_map \"High Five\""
add_vote "#wontfix by Waschlappen & Broken | ★★★★✰ | " "change_map \"#wontfix\""
add_vote "0 to 100 by Silex & Captain | ★★★★✰ | " "change_map \"0 to 100\""
add_vote "2 easy for u by Ray | ★★✰✰✰ | " "change_map \"2 easy for u\""
add_vote "4 NoooBs by KBeeeR | ★✰✰✰✰ | " "change_map \"4 NoooBs\""
add_vote "[SI] AVADA by Hitomi | ★★✰✰✰ | " "change_map \"[SI] AVADA\""
add_vote "Madness 1 by Delo | ★✰✰✰✰ | " "change_map \"Madness 1\""
add_vote "Madness 2 by Delo | ★★✰✰✰ | " "change_map \"Madness 2\""
add_vote "Madness 3 by Delo | ★★✰✰✰ | " "change_map \"Madness 3\""
add_vote "Madness 4 by Delo & Kintaro* | ★★✰✰✰ | " "change_map \"Madness 4\""
